@media (min-width:768px) {
  footer {
    width:750px;
  }
}

@media (min-width:992px) {
  footer {
    width:970px;
  }
}

@media (min-width:1200px) {
  footer {
    width:1170px;
  }
}

@media (max-width: 767px) {
  footer {
    position: relative;
    width: 100%;
  }
}

@media (min-height: 500px) {
  .cat-name {
    font-size: 25px;
    margin: auto 20px;
  }
  #cat {
    max-height: 400px;
  }

  footer {
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 499px) {
  h2 {
    font-size: 25px;
  }
  .cat-name {
    font-size: 20px;
    margin: auto 10px;

  }

  #cat {
    max-height: 200px;
  }
}

body {
  overflow: hidden;
  height: 100%;
  padding-bottom: 60px;
}

.container {
  background-color: #33cccc;
  min-height: 800px;
  margin-bottom: -60px;
}

div {
  text-align: center;
}

header {
  background-color: #ccffff;
  border-bottom: 3px solid #ccc;
}

.cat-name {
  display: inline-block;
  padding: 10px;
  cursor: hand;
  cursor: pointer;
}

#number {
  font-size: 2em;
}

footer {
  background-color: #ccffff;
  height: 60px;
}

h4 {
  text-align: right;
  vertical-align: bottom;
}

a {
  color: #555;
  text-decoration: underline;
}
